<p> 
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= comment.body %>
</p>

<div>
    <%= form.label :status %>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
